# These owners will be the default owners for everything in
# the repo. Unless a later match takes precedence,
# @resource11 will be requested for
# review when someone opens a pull request.
*       @resource11 

# Dot-files should be handled by the lead dev (.gitignore and co)
.*      @resource11