.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 0.5rem;
}

.lineDotSVG {
}

.lineDotLine {
  display: block;
  width: 0.112rem;
  height: 8.5rem;
  background-color: #4e336a;
}

.lineDotDot {
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: #4e336a;
}
