@import "../../common/styles/lib/variables.css";
@import "../../common/styles/lib/mixins.css";

.root {
  display: block;
  position: relative;
  min-height: 10.375rem;
}

textarea {
  display: block;
  text-overflow: ellipsis;
}

textarea::-ms-clear {
  display: none;
}

textarea::-webkit-input-placeholder,
textarea:-ms-input-placeholder,
textarea::-ms-input-placeholder,
textarea:-moz-placeholder,
textarea::-moz-placeholder,
textarea::placeholder-shown,
textarea::placeholder {
  color: var(--grey-300);
  padding: 1rem 0;
}

textarea:placeholder-shown {
  color: hsla(0, 0%, 0%, 0);
}

textarea::placeholder:not(:focus) {
  color: hsla(0, 0%, 0%, 0);
  padding: 1rem 0;
}

.textareaLabel {
  display: block;
  color: var(--text);
  line-height: 1;

  & .textarea {
    border-radius: -0.143em; /* 2px/14px */
    border: 0.071em solid var(--grey-400); /* 1px/14px */
    color: var(--text);
    font-family: inherit;
    font-size: var(--s0);
    -webkit-appearance: textfield;
    min-height: 7rem;
    width: 100%;
    outline: none;
    hyphens: auto;
    padding: 0 1rem;
  }

  & .textarea {
    transition: all 0.2s ease-out;
  }

  & .textarea:focus {
    border: 2px solid var(--purple-red-200);
    padding: 1.125rem 0.938rem;
  }

  & .resizeVerticalOnly {
    resize: vertical;
  }

  & .labelText {
    display: block;
    font-family: inherit;
    white-space: nowrap;
  }
}

.disabled .textarea {
  background-color: var(--grey-200);
  color: var(--grey-400);

  & + .labelText {
    color: var(--grey-400);
  }
}

.errorText {
  display: inline-flex;
  align-items: center;
  margin-top: var(--s-3);
  font-size: 0.875rem;
  color: var(--error);
}

.errorIcon {
  display: inline-block;
  margin-right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
}

.stackField > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackField > * + * {
  margin-top: var(--s-4);
}
