@import "./variables.css";
@import "./typography.css";

html,
body {
  background: #fefefe;
  color: #3a3a3a;
  font-family: "Futura PT", sans-serif;
  font-size: calc(0.1vw + 0.1vh + 1em);
  font-weight: normal;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
}
