@import "./variables.css";
@import "./properties.css";

* {
  box-sizing: border-box;
}

*:focus {
  outline: 0;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px purple;
}

body {
  /* @add-mixin font-body-normal; */
  @add-mixin font-weight-regular;
  background: var(--text-reverse);
  color: var(--text);
  font-family: "Futura PT", sans-serif;
  font-size: calc(0.1vw + 0.1vh + 1em);
  line-height: 1.5;
  text-rendering: optimizeLegibility;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  overflow-x: hidden;
}

::selection {
  background: var(--grey-100);
}
::-moz-selection {
  background: var(--grey-100);
}

hr,
.hr {
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
  border-top: 0.063em solid var(--grey-200); /* IE11 Fallback to work with postcss-css-variables .postcssrc adjustment */
  display: inline-block;
  margin: var(--s-2) 0;
  width: 100%;

  @media (--medium) {
    margin: 5rem 0;
  }
}

h1,
.h1,
.pageHeader {
  margin: 1rem 0;

  @add-mixin font-page-header;
}

h2,
.h2,
.sectionHeader {
  margin: 1rem 0;

  @add-mixin font-section-header;
}

h3,
.h3,
.sectionTitle {
  margin: 1rem 0 var(--s-2);

  @add-mixin font-section-title;
}

h4,
.h4,
.introTitle {
  margin: 1rem 0 var(--s-2);

  @add-mixin font-intro-title;
}

h5,
.h5,
.contentTitle {
  margin: var(--s-2) 0;

  @add-mixin font-content-title;
}

h6,
.h6,
.attribute {
  margin: var(--s-2) 0;

  @add-mixin font-attribute;
}

a,
.link {
  color: var(--link);
  cursor: pointer;
}

a:hover,
.link:hover {
  background-color: purple;
  color: var(--text-reverse);
}

a:active,
.link:active {
  background-color: indigo;
  box-shadow: 0 0 0 2px indigo;
  color: var(--text-reverse);
  text-decoration: none;
}

.label {
  @add-mixin font-label;
}

.label-small {
  @add-mixin font-label-small;
}

p,
.paragraph {
  @add-mixin font-body-normal;

  margin: var(--s-2) 0;
}

span.medium,
p.medium,
.paragraph.medium {
  @add-mixin font-body-medium;

  margin: var(--s-2) 0;
}

span.small,
p.small,
.paragraph.small {
  @add-mixin font-body-small;

  margin: var(--s-2) 0;
}

span.tiny,
p.tiny,
.paragraph.tiny,
.caption {
  @add-mixin font-body-tiny;

  margin: var(--s-4) 0;
}

span.color-medium,
p.color-medium {
  @add-mixin font-color-medium;
}

span.color-light,
p.color-light {
  @add-mixin font-color-light;
}

code {
  @add-mixin font-code;

  padding: 0.1rem 0.3rem;
  color: var(--text);
  background-color: var(--grey-01);
  border-radius: var(--s-4);
}

pre {
  @add-mixin font-code;

  padding: 0.2rem 0.4rem;
  border-radius: var(--s-4);
  color: var(--text);
  background-color: var(--grey-100);

  & code {
    font-size: inherit;
    background-color: transparent;
    padding: 0;
  }
}

ol.list,
.article ol {
  counter-reset: orderedlist;
  padding-left: var(--s-2);
  margin: var(--s-2) 0;
  & ol,
  & ul {
    counter-reset: orderedlist;
    padding-left: var(--s-2);
  }
  & li {
    counter-increment: orderedlist;
    list-style: none;
    padding-left: 1.25rem;
    margin: var(--s-2) 0;

    &::before {
      @add-mixin font-weight-bold;
      @add-mixin font-body-small;

      content: counter(orderedlist);
      color: var(--text);
      display: inline-block;
      width: 1.25rem;
      margin-left: -1.25rem;
    }
  }
}

ul.list,
.article ul {
  padding-left: var(--s-2);
  margin: var(--s-2) 0;
  & ol,
  & ul {
    padding-left: var(--s-2);
  }
  & li {
    list-style: none;
    padding-left: 1.25rem;
    margin: var(--s-2) 0;

    &::before {
      @add-mixin font-weight-bold;
      @add-mixin font-body-large;

      content: "•";
      color: var(--text);
      display: inline-block;
      width: 1.25rem;
      margin-left: -1.25rem;
    }
  }
}

form {
  margin-bottom: 0;
}
