@import "../lib/variables.css";
@import "../lib/mixins.css";

.bodyWrapper {
  /* margin-left: 1.75rem;
  margin-right: 1.75rem;
  margin-bottom: 3rem; */
  margin: 0 1.75rem 3rem;
  @media screen and (--small) {
    /* margin-left: 3rem;
    margin-right: 3rem; */
    margin: 0 3rem 3rem;
  }

  @media screen and (--medium) {
    /* margin-left: 5.625rem;
    margin-right: 5.625rem;
    margin-bottom: 5.625rem; */
    margin: 0 5.625rem 5.625rem;
    /* max-width: var(--measure); */
    max-width: 50em;
  }
}

.contentWrapper {
  @media screen and (--small) {
    max-width: var(--measure);
  }

  @media screen and (--medium) {
    /* max-width: 50em; */
  }
}

.cardUl,
.socialUl {
  list-style-type: none;
  margin-inline-start: 0;
  max-width: 100%;
}

.cardUl {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (--small) {
    flex-direction: row;
  }
  @media screen and (--medium) {
    max-width: 50em;
  }
}

.socialUl {
  max-width: 15ch;
  @media screen and (--small) {
    max-width: 30ch;
    column-count: 2;
  }
  @media screen and (--medium) {
    /* max-width: 50em; */
    column-count: 2;
  }
}

.stackCardList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackCardList > * + * {
  margin-top: var(--s0);

  @media screen and (--small) {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.stackSocialList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackSocialList > * + * {
  margin-top: var(--s-1);
}

.cardContentWrapper {
  margin: 0;
}
.cardFooterWrapper {
  padding: 0;
}

.cardFooterLink {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.socialListItem {
  @media screen and (--small) {
    font-size: 1.25rem;
  }

  @media screen and (--medium) {
  }
}

.socialListLink {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1.25rem;

  @media screen and (--small) {
    font-size: 1.5rem;
  }

  @media screen and (--medium) {
    /* font-size: 1.5rem; */
  }
}

.redOrangeHR {
  border-top: 0.063em solid;
  border-image-source: var(--grad-lin-red-orange);
  border-image-slice: 1;
}

.liReset {
  padding-left: 0;

  /* &::before {
    content: "";
    width: 0;
    margin: 0;
  } */
}

.headingAccentImage {
  position: absolute;
  top: 3.5rem;
  /* top: 2.5rem; */
  left: 0;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 74% 100%, 0 66%);

  @media screen and (--small) {
    top: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 75% 81%, 0 46%);
  }

  @media screen and (--medium) {
    clip-path: polygon(0 0, 100% 0, 100% 334px, 75% 505px, 0 283px);
  }
}

.aboutH1 {
  margin-top: 23.5%;
  margin-top: 20.5%;
  line-height: 1.15;
  color: var(--text-reverse);
  font-size: calc(0.1vw + 0.1vh + 2.25rem);
  font-size: calc(2.3 * 5vw);

  @media screen and (--small) {
    margin-top: 3.25rem;
    margin-top: 15.5%;
    font-size: calc(1.8 * 5vw);
  }

  @media screen and (--medium) {
    margin-top: 6rem;
    margin-top: 5rem;
    font-size: calc(1.8 * 5vw);
    font-size: 5rem;
  }
}

.aboutIntroPara {
  margin-top: calc(55vw * (9 / 16));
  font-size: 1.25rem;
  max-width: 28ch;

  @media screen and (--small) {
    margin-top: 9.5rem;
  }
}

.aboutSecondPara {
  font-size: 1.25rem;
  max-width: 28ch;
}

.clipPath {
  clip-path: polygon(0 0, 100% 0, 100% 50%, 73% 100%, 0 50%);
}
