@import "../lib/variables.css";
@import "../lib/mixins.css";

.cardUl,
.socialUl {
  list-style-type: none;
  margin-inline-start: 0;
  max-width: 100%;
}

.cardUl {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (--small) {
    flex-direction: row;
  }
  @media screen and (--medium) {
    max-width: 50em;
  }
}

.socialUl {
  max-width: 15ch;
  @media screen and (--small) {
    max-width: 36ch;
    column-count: 2;
  }
  @media screen and (--medium) {
    max-width: 50em;
    column-count: 2;
  }
}

.stackCardList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackCardList > * + * {
  margin-top: var(--s0);

  @media screen and (--small) {
    margin-top: 0;
    margin-left: 1rem;
  }
}

.stackSocialList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackSocialList > * + * {
  margin-top: var(--s-1);
}

.cardContentWrapper {
  margin: 0;
}
.cardFooterWrapper {
  padding: 0;
}

.cardFooterLink {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.socialListItem {
  @media screen and (--small) {
    font-size: 1.25rem;
  }

  @media screen and (--medium) {
  }
}

.socialListLink {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1.15rem;

  @media screen and (--small) {
    font-size: 1.25rem;
  }

  @media screen and (--medium) {
    font-size: 1.5rem;
  }
}

.redOrangeHR {
  border-top: 0.125em solid;
  border-image-source: var(--grad-lin-red-orange);
  border-image-slice: 1;
}

.liReset {
  padding-left: 0;

  &::before {
    content: "";
    width: 0;
    margin: 0;
  }
}
