.stackCardList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackCardList > * + * {
  margin-top: var(--s0);
}

.stackSocialList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackSocialList > * + * {
  margin-top: var(--s-1);
}

.cardFooterWrapper {
  padding: 0;
}

.cardFooterLink {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.cardList,
.socialList {
  max-width: var(--measure);
  list-style-type: none;
}

.socialList {
  max-width: 15ch;
  @media screen and (--small) {
    max-width: 36ch;
    column-count: 2;
  }
}

.socialListItem {
  @media screen and (--small) {
    font-size: 1.25rem;
  }

  @media screen and (--medium) {
  }
}

.socialLink {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0.25rem 0.5rem;
  font-size: 1.15rem;

  @media screen and (--small) {
    font-size: 1.25rem;
  }

  @media screen and (--medium) {
    font-size: 1.5rem;
  }
}
