@import "../lib/variables.css";
@import "../lib/mixins.css";

.cardUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;

  @media screen and (--small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (--medium) {
    max-width: 50em;
  }
}

.stackCardList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackCardList > * + * {
  margin-top: var(--s0);

  @media screen and (--small) {
    margin-left: 1rem;
  }
}

.Cardli:nth-child(odd) {
  margin-left: 0;
}

.cardUl > * {
  flex: 1 1 30ch;
}

@supports (width: min(250px, 100%)) {
  .grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));

    @media screen and (--medium) {
      grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
    }
  }

  .stackCardList > * + * {
    margin-top: 0;
    margin-left: 0;
  }
}

.cardFooterWrapper {
  padding: 0;
}

.cardFooterLink {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem;
  text-align: right;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}
