@import "../lib/variables.css";
@import "../lib/mixins.css";

/* 
------ WRAPPERS ------ 
*/

.homeWrapper {
  margin-top: 0;
  /* margin-top: calc(193vw * 9 / 16); */

  @media screen and (--small) {
    margin-top: calc(125vw * 9 / 16);
  }

  @media screen and (--medium) {
    margin-top: 22.375rem;
  }
}

.homeHeader {
  position: relative;
  margin-top: calc(193vw * 9 / 16);
  margin-top: calc(248vw * 7 / 16);

  @media screen and (--small) {
    margin-top: calc(221vw * 7 / 16);
  }
  @media screen and (--medium) {
    margin-top: 0;
    left: 28rem;
  }
}

.recentTalks {
  margin-top: 0.75rem;

  @media screen and (--medium) {
    margin-top: 12rem;
    left: 28rem;
  }
}

.featuredPosts {
}

/* 
------ HERO IMAGE ------
*/

.heroImageMasked {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
  top: 6.5em;
  width: 268vw;

  @media screen and (--small) {
    width: 111rem;
  }
}

.recentTalksBgMasked {
  position: absolute;
  bottom: 0;
  left: calc(-46vw * 9 / 16);
  width: 200vw;
  width: 2000px;
  z-index: -1;
  display: none;

  @media screen and (--small) {
    top: 840px;
    top: 890px;
    left: -245px;
    width: 214%;
    /* left: calc(-118vw * 9 / 16); */
  }

  @media screen and (--medium) {
    top: 671px;
    left: calc(-118vw * 9 / 16);
    left: -27px;
  }
}

/* 
------ HEADINGS and CONTENT ------
*/

.homeH1 {
  margin-top: 0;
  max-width: 9ch;
  color: var(--text-reverse);

  @media screen and (--medium) {
    font-size: 3.5rem;
  }
}

.homeIntroPara {
  position: relative;
  max-width: 20ch;
  font-size: 1.125rem;
  color: var(--text-reverse);

  @media screen and (--medium) {
    margin-top: 1rem;
    font-size: 1.75rem;
  }
}

.recentTalksH2 {
  position: relative;
  left: 18.6rem;
  margin-top: 0;
}

.lineDotRoot {
  position: relative;
  top: 0;
  left: 3.25rem;
  margin-top: 0.25rem;

  @media screen and (--medium) {
    left: 11.25rem;
  }
}

.lineDotLine {
  @media screen and (--medium) {
    background-color: var(--color-light);
    height: 5rem;
  }
}

.lineDotDot {
  @media screen and (--medium) {
    background-color: var(--color-light);
  }
}

/* 
------ LISTS ------
*/

.cardUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-inline-start: 0;
  margin-top: 1.5rem;
  max-width: 100%;
  padding-left: 0;

  @media screen and (--small) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  @media screen and (--medium) {
    max-width: 50em;
  }
}

.cardUl > * {
  flex: 1 1 30ch;
}

.stackCardList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackCardList > * + * {
  margin-top: var(--s0);

  @media screen and (--small) {
    margin-left: 1rem;
  }

  @media screen and (--medium) {
    margin-top: 1rem;
  }
}

@supports (width: min(250px, 100%)) {
  .grid {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(auto-fit, minmax(min(300px, 100%), 1fr));

    @media screen and (--small) {
      grid-gap: 1rem;
    }

    @media screen and (--medium) {
      grid-template-columns: repeat(auto-fit, minmax(min(380px, 100%), 1fr));
    }
  }

  .stackCardList > * + * {
    margin-top: 0;
    margin-left: 0;
  }
}

.cardListItem {
  padding-left: 0;

  /* &::before {
    content: "";
    width: 0;
    margin: 0;
  } */
}

.cardListItem:nth-child(odd) {
  margin-left: 0;
}

.cardContentWrapper {
  margin: 0;
}

.cardFooterWrapper {
  padding: 0;
  justify-content: flex-end;
}

.cardFooterLink {
  width: 100%;
  height: 2.5rem;
  margin: 0;
  padding: 0.5rem 1rem;
  text-align: right;

  @media screen and (--medium) {
    font-size: 1.25rem;
    line-height: 1;
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
  }
}

.cardFooterLinkIcon {
  margin-left: 0.375rem;
}

.purpleRedHR {
  margin-top: 3rem;
  border-top: 0.063em solid;
  border-image-source: var(--grad-lin-purple-red);
  border-image-slice: 1;
}

/*
  ------ POST STYLES -----
*/

.postUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-inline-start: 0;
  max-width: 100%;
  padding-left: 0;
}

.stackPostList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackPostList > * + * {
  margin-top: 2.75rem;
  margin-top: var(--s0);
  @media screen and (--small) {
    margin-top: var(--s1);
  }
}

.postListItem {
  padding-left: 0;
  display: block;

  /* &::before {
    content: "";
    width: 0;
    height: 0;
    margin: 0;
  } */
}

.postListLink {
  @add-mixin font-weight-medium;
  display: block;
  font-size: 1.375rem;
  line-height: 1.2;

  @media screen and (--medium) {
    font-size: 2.25rem;
  }
}

.postListPublishedDate {
  display: inline-block;
  margin-top: var(--s-2);
  font-size: 0.875rem;
  color: var(--grey-500);

  @media screen and (--medium) {
    font-size: 1rem;
  }
}

.postListPublished {
  @add-mixin font-weight-bold;
}

.ctaLink {
  display: inline-block;
  margin-left: 0;
  margin-top: 1.5rem;
  padding-left: 0.5rem;
  line-height: 1;
  color: var(--caribbean-blue-muted-300);
  border-left: 0.25em solid;
  border-image-slice: 0 0 0 1;
  background-clip: border-box; /* !importanté */
  border-image-source: var(--grad-lin-vert-purple-red);

  @media screen and (--medium) {
    font-size: 1.25rem;
  }

  &:hover {
    border-image-source: var(--grad-rad-blue-violet-darken);
  }

  &:active {
    border-image-source: var(--grad-lin-blue-violet);
  }
}

.ctaLinkIcon {
  color: var(--purple-red-200);

  &:hover {
    color: var(--text-reverse);
  }
}
