@import "../lib/variables.css";
@import "../lib/mixins.css";

/* 
------ WRAPPERS AND SECTIONING ------
*/

.bodyWrapper {
  margin: 0 1.75rem 3rem;
  @media screen and (--small) {
    margin: 0 3rem 3rem;
  }

  @media screen and (--medium) {
    margin: 0 5.625rem 5.625rem;
    max-width: 50em;
  }
}

.contentWrapper {
  max-width: var(--measure);
}

.purpleRedHR {
  border-top: 0.063em solid;
  border-image-source: var(--grad-lin-purple-red);
  border-image-slice: 1;
}

/* 
------ HEROS AND IMAGES ------
*/

.headingAccentImage {
  position: absolute;
  top: 3.5rem;
  left: 0;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 74% 100%, 0 66%);

  @media screen and (--small) {
    top: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 54%, 75% 81%, 0 46%);
  }

  @media screen and (--medium) {
    clip-path: polygon(0 0, 100% 0, 100% 334px, 75% 505px, 0 283px);
  }
}

/* 
------ HEADINGS AND CONTENT ------
*/

.speakingH3 {
  font-size: var(--s0);
  color: var(--grey-500);

  @media screen and (--small) {
    font-size: 1.325rem;
  }

  @media screen and (--medium) {
    font-size: var(--s1);
  }
}

.speakH1 {
  margin-top: 23.5%;
  margin-top: 20.5%;
  line-height: 1.15;
  color: var(--text-reverse);
  font-size: calc(2.3 * 5vw);

  @media screen and (--small) {
    margin-top: 3.25rem;
    margin-top: 15.5%;
    font-size: calc(1.8 * 5vw);
  }

  @media screen and (--medium) {
    margin-top: 6rem;
    margin-top: 5rem;
    font-size: calc(1.8 * 5vw);
    font-size: 5rem;
  }
}

.speakIntroPara {
  margin-top: calc(50vw * (9 / 16));
  font-size: 1.25rem;
  max-width: 28ch;

  @media screen and (--small) {
    margin-top: 9.5rem;
  }
}

.speakSecondPara {
  max-width: 28ch;
}

/* 
------ LISTS ------
*/

.cardUl {
  position: relative;
  list-style-type: none;
  max-width: 30em;
}

.cardRoot {
  padding: 0.5rem 1rem;
  border-color: var(--color-light);
  box-shadow: none;

  @media screen and (--small) {
    padding: 0.75rem 1.25rem;
  }

  &:hover {
    box-shadow: none;
    border-right-width: 0.375em;
  }
}

.stackList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackList > * + * {
  margin-top: var(--s0);
}

.cardDateLocation {
  @add-mixin font-body-medium;
  display: block;
  color: var(--grey-500);
  margin-top: auto;
}

.cardLi {
  padding: 0.25rem 0.75rem;
  border-left: 0.375em solid;
  border-image-slice: 0 0 0 1;
  background-clip: border-box; /* !importanté */
  transition: color 0.2s, background 0.2s, border-color 0.2s;
  transition-timing-function: ease;

  @media screen and (--small) {
    padding: 0.5rem 1rem;
  }
}

.upcomingCardLi {
  border-image-source: var(--grad-lin-vert-purple-red);
}

.pastCardLi {
  border-image-source: var(--grad-vert-lin-grey-200);
}

.cardLinkRoot {
  @add-mixin font-weight-bold;
  line-height: 1.2;
  font-size: 1.125rem;

  @media screen and (--small) {
    font-size: 1.5rem;
  }

  @media screen and (--medium) {
    font-size: 1.75rem;
  }
}

.upcomingCardLinkRoot {
  @add-mixin font-weight-bold;
  line-height: 1.2;
}

.pastCardLinkRoot {
  @add-mixin font-weight-bold;
  color: var(--caribbean-blue-muted-200);
}

.pastCardSublinkRoot {
  @add-mixin font-weight-medium;
  display: block;
  margin-top: var(--s-3);
  line-height: 1.2;
  color: var(--caribbean-blue-muted-100);

  @media screen and (--small) {
    font-size: 1.125rem;
  }

  @media screen and (--medium) {
    font-size: 1.25rem;
  }
}
