@import "../lib/variables.css";
@import "../lib/mixins.css";

/* 
------ WRAPPERS AND SECTIONING ------ 
*/

.bodyWrapper {
  margin: 0 1.75rem 3rem;
  @media screen and (--small) {
    margin: 0 3rem 3rem;
  }

  @media screen and (--medium) {
    margin: 0 5.625rem 5.625rem;
    max-width: 50em;
  }
}

.contentWrapper {
  max-width: 65ch;
}

.blueVioletHR {
  border-top: 0.063em solid;
  border-image-source: var(--grad-lin-blue-violet);
  border-image-slice: 1;
}

/* 
------ HEROS AND IMAGES ------
*/

.headingAccentImage {
  position: absolute;
  top: 6.5rem;
  left: 0;
  width: 100%;
  z-index: -1;
  clip-path: polygon(0 0, 100% 0, 100% 72%, 74% 100%, 0 66%);

  @media screen and (--small) {
    clip-path: polygon(0 0, 100% 0, 100% 54%, 75% 81%, 0 46%);
  }

  @media screen and (--medium) {
    clip-path: polygon(0 0, 100% 0, 100% 334px, 75% 505px, 0 283px);
  }
}

/* 
------ HEADINGS and CONTENT ------
*/

.writeH1 {
  margin-top: 14%;
  line-height: 1.15;
  color: var(--text-reverse);
  font-size: calc(2.3 * 5vw);

  & small {
    margin-left: 0.5rem;
    font-size: 0.75rem;
    font-size: calc(0.95 * 5vw);
    text-transform: uppercase;
    color: var(--pink);
    letter-spacing: normal;
  }

  @media screen and (--small) {
    margin-top: 10%;
    font-size: calc(1.8 * 5vw);

    & small {
      font-size: 1.625rem;
    }
  }

  @media screen and (--medium) {
    margin-top: 4rem;
    font-size: calc(1.8 * 5vw);
    font-size: 5rem;

    & small {
      font-size: 1.625rem;
    }
  }
}

.writeIntroPara {
  margin-top: calc(50vw * (9 / 16));
  font-size: 1.25rem;
  max-width: 28ch;

  @media screen and (--small) {
    margin-top: 9.5rem;
  }
}

/*
  ------ LISTS -----
*/

.postUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-inline-start: 0;
  max-width: 100%;
  padding-left: 0;
}

.stackPostList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackPostList > * + * {
  margin-top: 2.75rem;
  @media screen and (--small) {
  }
}

.postListItem {
  padding-left: 0;
}

.postListLink {
  @add-mixin font-weight-bold;
  display: block;
  font-size: var(--s1);
  line-height: 1.15;

  @media screen and (--small) {
    font-size: 1.75rem;
  }

  @media screen and (--medium) {
    font-size: var(--s2);
  }
}

.postListPublishedDate {
  display: inline-block;
  margin-top: var(--s-2);
  font-size: 0.875rem;
  color: var(--grey-500);
}

.postListPublished {
  @add-mixin font-weight-bold;
  font-size: 90%;
}

.postListExcerpt {
  margin-top: var(--s-1);
}
