@import "../lib/variables.css";
@import "../lib/mixins.css";

.blueVioletHR {
  border-top: 0.125em solid;
  border-image-source: var(--grad-lin-blue-violet);
  border-image-slice: 1;
}

/*
  ------ POST STYLES -----
*/

.postUl {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin-inline-start: 0;
  max-width: 100%;
  padding-left: 0;
}

.stackPostList > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stackPostList > * + * {
  margin-top: 2.75rem;
  @media screen and (--small) {
  }
}

.postListItem {
  margin: 0;

  &::before {
    content: "";
    width: 0;
    margin: 0;
  }
}

.postListLink {
  @add-mixin font-weight-bold;
  display: block;
  font-size: var(--s1);
  line-height: 1.15;
}

.postListPublishedDate {
  display: inline-block;
  margin-top: var(--s-2);
  font-size: 0.875rem;
  color: var(--grey-500);
}

.postListPublished {
  @add-mixin font-weight-bold;
}

.postListExcerpt {
  margin-top: var(--s-1);
}
