@import "../../../src/common/styles/variables.css";
.card {
  position: relative;
  padding: 1.25rem;
  min-height: 4rem;
  background-color: lightgray;
  border-width: 1px;
  border-style: solid;
}

.block {
  display: block;
}

.flexBox {
  display: flex;
  align-items: center;
}
