@import "../../common/styles/lib/variables.css";
@import "../../common/styles/lib/mixins.css";

.root {
  display: block;
  position: relative;
}

input {
  text-overflow: ellipsis;
}

input::-ms-clear {
  display: none;
}

input::-webkit-input-placeholder,
input:-ms-input-placeholder,
input::-ms-input-placeholder,
input:-moz-placeholder,
input::-moz-placeholder,
input::placeholder-shown,
input::placeholder {
  color: var(--grey-300);
  padding: 1rem 0;
}

input:not([type="search"]):placeholder-shown {
  color: hsla(0, 0%, 0%, 0);
}

input:not([type="search"])::placeholder:not(:focus) {
  color: hsla(0, 0%, 0%, 0);
  padding: 1rem 0;
}

input[type="date"]:not(:focus),
input[type="month"]:not(:focus),
input[type="time"]:not(:focus) {
  color: hsla(0, 0%, 0%, 0);
}

.inputLabel {
  position: relative;
  display: block;
  color: var(--text);
  font-size: 0.875rem;
  line-height: 1;

  & .input {
    border-radius: 0.25rem; /* 4px */
    border: 0.063em solid var(--grey-400); /* 1px/14px */
    color: var(--text);
    font-family: inherit;
    font-size: 0.875rem;
    -webkit-appearance: textfield;
    height: 3rem;
    width: 100%;
    outline: none;
    padding: 0 1rem;
  }

  @media only screen {
    & .input[type="search"] {
      -webkit-appearance: none;
    }
  }

  & .input:not([type="search"]) {
    transition: all 0.2s ease-out;
  }

  & .input:focus {
    border: 0.125em solid var(--purple-red-200); /* 2px */
    padding: 0 0.938rem;
  }

  & .labelTxt {
    display: block;
    font-family: inherit;
    font-size: 0.875rem;
    /* font-weight: 400; */
    /* left: 0; */
    padding: 0.5rem 0;
    /* position: absolute;
    top: 50%;
    transform: translateY(-50%); */
    /* transition: all 0.2s ease-out; */
    white-space: nowrap;
  }

  & .input:focus + .labelTxt,
  .hasValue + .labelTxt {
    /* top: -19%; */
    font-family: inherit;
    font-weight: 500;
    font-size: 0.625rem;
    padding: 0;
    width: 100%;
    z-index: 10;
  }

  & input[type="search"] + .labelTxt {
    color: hsla(0, 0%, 0%, 0);
  }
}

.large > .inputLabel {
  & .input {
    height: 3.5rem;
  }

  & .labelTxt {
    padding: 1.25rem 1.063rem;
  }

  & .input:focus + .labelTxt,
  & .hasValue + .labelTxt {
    /* top: -25%; */
    padding: 0;
    font-size: 0.625rem;
  }
}

.small > .inputLabel {
  & .input {
    font-size: 0.75rem;
    height: 2.5rem;
    padding: 0 0.5rem;
  }

  & .input:focus {
    padding: 0 0.438rem;
  }

  & .labelTxt {
    padding: 0.625rem 0.563rem;
    font-size: 0.75rem;
  }

  & .input:focus + .labelTxt,
  & .hasValue + .labelTxt {
    top: -34%;
    padding: 0;
    font-size: 0.625rem;
  }
}

.hasValue {
  &.input[type="date"]:not(:focus),
  &.input[type="month"]:not(:focus),
  &.input[type="time"]:not(:focus) {
    color: var(--text);
  }
}

.disabled .input {
  background-color: var(--grey-200);
  color: var(--grey-400);

  & + .labelTxt {
    color: var(--grey-400);
  }
}

.invalid {
  .input {
    border-color: var(--error);
  }

  .errorWrapper {
    position: relative;
    color: var(--error);
    margin: 0.5rem 0;
  }

  .errorTxt {
    display: inline-block;
    position: absolute;
    top: 0.125rem;
    margin-left: 0.125rem;
    color: var(--error);

    @add-mixin font-body-small;
  }
}

.errorTxt {
  display: inline-flex;
  align-items: center;
  margin-top: var(--s-3);
  color: var(--error);
}

.errorIcon {
  display: inline-block;
  margin-right: 0.25rem;
  height: 1.5rem;
  width: 1.5rem;
}

/* TextArea */

/* .root {
  display: inline-block;
  position: relative;
} */

.textarea {
  text-overflow: ellipsis;
}

.textarea::-ms-clear {
  display: none;
}

.textarea::-webkit-input-placeholder,
.textarea:-ms-input-placeholder,
.textarea::-ms-input-placeholder,
.textarea:-moz-placeholder,
.textarea::-moz-placeholder,
.textarea::placeholder-shown,
.textarea::placeholder {
  color: var(--grey-300);
  padding: 1rem 0;
}

.textarea:placeholder-shown {
  color: hsla(0, 0%, 0%, 0);
}

.textarea::placeholder:not(:focus) {
  color: hsla(0, 0%, 0%, 0);
  padding: 1rem 0;
}

.textareaLabel {
  position: relative;
  display: block;
  color: var(--text);
  font-size: 0.875rem;
  line-height: 1;

  & .textarea {
    border-radius: -0.143em; /* 2px/14px */
    border: 0.071em solid var(--grey-400); /* 1px/14px */
    color: var(--text);
    font-family: inherit;
    font-size: 0.875rem;
    -webkit-appearance: textfield;
    min-height: 7rem;
    min-width: 11.25rem;
    outline: none;
    hyphens: auto;
    padding: 0 1rem;
  }

  & .textarea {
    transition: all 0.2s ease-out;
  }

  & .textarea:focus {
    border: 2px solid var(--purple-red-200);
    padding: 1.125rem 0.938rem;
  }

  & .hasValue {
    padding: 1.188rem 1rem;
  }

  & .resizeVerticalOnly {
    resize: vertical;
  }

  /* & .labelTxt {
    font-family: inherit;
    font-size: 0.875rem;
    font-weight: 400;
    left: 0;
    position: absolute;
    top: 1.813rem;
    left: 1.063rem;
    transform: translateY(-50%);
    transition: all 0.2s ease-out;
    white-space: nowrap;
  } */

  & .textarea:focus + .labelTxt,
  .hasValue + .labelTxt {
    /* top: -0.563rem;
    left: 0; */
    font-family: inherit;
    font-weight: 500;
    font-size: 0.625rem;
    padding: 0;
    width: 100%;
    z-index: 10;
  }
}

.disabled .textarea {
  background-color: var(--grey-200);
  color: var(--grey-400);

  & + .labelTxt {
    color: var(--grey-400);
  }
}

.invalid {
  .textarea {
    border-color: var(--error);
  }

  .infoWrapper {
    color: var(--error);
  }

  .errorTxt {
    display: inline-block;
  }
}

.infoWrapper {
  display: flex;
  align-items: center;
  margin-top: 0.2rem;
  position: relative;

  @add-mixin font-body-small;

  & > *:not(:last-child) {
    margin-right: 0.25rem;
  }
}

/* Content that is only visible to screen readers */
.visuallyHidden {
  @add-mixin visually-hidden;
}
