@import "../../common/styles/lib/variables.css";
@import "../../common/styles/lib/mixins.css";

/* Skip link */
[href="#main"] {
  position: relative;
  display: block;
  order: 1;
  align-self: center;
  padding: 0.5rem 1.75rem;
  line-height: 3.1;
  text-align: center;
  color: var(--magenta-red-100);
  background-color: var(--color-light);

  @media screen and (--medium) {
    top: -100px;
    max-width: 100%;
    min-width: 11.25rem;
    padding: 0.5rem 2rem;
    line-height: 1.7;
    font-size: 1.25rem;
    border-radius: var(--s-4, 0.188rem);
  }

  &:hover {
    color: var(--text-light, #ffffff);
    background: var(--grad-rad-red-purple);
    box-shadow: 0 0 0 var(--s-5) var(--magenta-red-100);
  }

  &:focus {
    box-shadow: 0 0 0 var(--s-5) var(--magenta-red-100);

    @media screen and (--medium) {
      top: 0;
      color: var(--text-light, #ffffff);
      background: var(--grad-rad-red-purple);
    }
  }

  &:active {
    background: var(--grad-rad-blue-violet);
    box-shadow: 0 0 0 var(--s-5) var(--purple-violet-200);
  }
}

.header {
  display: flex;
  flex-direction: column;
  background-color: var(--color-light);
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  height: 4.375rem;
  padding: 0 0 0 1rem;

  @media screen and (--medium) {
    padding: 0 2rem;
  }
}

.primaryNav {
  height: 2.25rem;

  border-bottom: 0.063rem solid var(--grey-100);
  border-top: 0.25rem solid var(--grey-100);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.15);
}

.primaryNavUl {
  position: relative;
  display: flex;
  top: -0.25rem;
  max-width: 20rem;
  margin: 0;
  padding-inline-start: 0;
  list-style-type: none;

  @media screen and (--small) {
    margin-left: 3.3rem;
  }

  @media screen and (--medium) {
    margin-left: 8.5rem;
  }

  & .primaryNavLi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
    padding-left: 0;
    margin-top: 0;

    &::before {
      content: none;
      display: none;
      width: 0;
      margin-left: 0;
    }
  }

  & .primaryNavLi:not(:last-of-type) {
    margin-right: 0.25rem;
  }

  & .link {
    @add-mixin font-weight-medium;
    min-width: 6.25rem;
    height: 2.188rem;
    padding: 0 var(--s0) 0;
    line-height: 1.9;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-600);
    background: var(--color-light);
    border-top: 0.25rem solid;
    border-image-source: var(--grad-lin-solid-grey-100);
    border-image-slice: 1;

    &:hover {
      border-image-source: var(--grad-lin-red-orange);
    }

    &:focus {
      color: var(--color-light);
      background: var(--grad-lin-red-orange);
      border-image-source: var(--grad-lin-red-orange);
      border-image-source: var(--grad-lin-red-orange-muted);
      box-shadow: none;
    }

    &:active {
      border-image-source: var(--grad-lin-red-orange-muted);
      background: var(--grad-lin-red-orange-muted);
    }
  }

  & .activeLink {
    @add-mixin font-weight-bold;
    /* font-size: 92%;
    line-height: 1.7; */
  }
}

.logo {
  width: 5.5rem;
  height: 4.38rem;
  z-index: 1;

  @media screen and (--medium) {
    width: 8.5rem;
  }

  &:hover {
    background: var(--grad-vert-grey-500);
  }

  & .logoImg {
    position: relative;
    top: -1.85rem;

    @media screen and (--medium) {
      top: -2.85rem;
    }
  }
}
