@import "../../common/styles/lib/mixins.css";

/* Skip link */
[href="#main"] {
  position: relative;
  display: block;
  order: 1;
  align-self: center;
  padding: 0.5rem 1.75rem;
  line-height: 3.1;
  text-align: center;
  color: var(--magenta-red-100, #d10971);
  background-color: var(--color-light, #ffffff);

  @media screen and (--medium) {
    top: -100px;
    max-width: 100%;
    min-width: 11.25rem;
    height: 3.5rem;
    padding: 0.5rem 2rem;
    line-height: 2.2;

    border-radius: var(--s-4, 0.188rem);
  }

  &:hover {
    color: var(--text-light, #ffffff);
    background: var(--grad-rad-red-purple);
    box-shadow: 0 0 0 var(--s-5) var(--magenta-red-100);
  }

  &:focus {
    box-shadow: 0 0 0 var(--s-5) var(--magenta-red-100);

    @media screen and (--medium) {
      top: 0;
      color: var(--text-light, #ffffff);
      background: var(--grad-rad-red-purple);
    }
  }

  &:active {
    background: var(--grad-rad-blue-violet);
    box-shadow: 0 0 0 var(--s-5) var(--purple-violet);
  }
}

.header {
  display: flex;
  flex-direction: column;
}

.headerLinks {
  display: flex;
  justify-content: space-between;
  height: 4.38rem;
  padding: 0 0 0 1rem;

  @media screen and (--medium) {
    height: 5.25rem;
    padding: 0 2rem;
  }
}

.primaryNav {
  height: 2.25rem;

  border-bottom: 0.063rem solid var(--grey-100, #e5ebf1);
  border-top: 0.25rem solid var(--grey-100, #e5ebf1);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.07);
}

.primaryNavUl {
  position: relative;
  display: flex;
  top: -0.25rem;
  margin: 0 auto 0 8%;
  max-width: 20rem;
  list-style-type: none;

  @media screen and (--small) {
    margin-left: 3.3rem;
  }

  @media screen and (--medium) {
    margin-left: 8.5rem;
  }

  & .primaryNavLi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
  }

  & .primaryNavLi:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  & .link {
    @add-mixin font-weight-medium;
    width: 100%;
    padding: 0.15rem var(--s0, 1rem) 0.25rem;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--grey-600, #465863);
    background: var(--color-light, #ffffff);
    border-top: 0.25rem solid;
    border-image-source: var(--grad-lin-solid-grey-100);
    border-image-slice: 1;

    &:hover {
      /* border-top: 0.25rem solid; */
      border-image-source: var(--grad-lin-red-orange);
      /* border-image-slice: 1; */
    }

    &:focus {
      color: var(--color-light, #ffffff);
      background: var(--grad-lin-red-orange);
      border-image-source: var(--grad-lin-red-orange);
      border-image-source: var(--grad-lin-red-orange-muted);
      box-shadow: none;
    }

    &:active {
      border-image-source: var(--grad-lin-red-orange-muted);
      background: var(--grad-lin-red-orange-muted);
    }
  }

  & .activeLink {
    @add-mixin font-weight-bold;
    font-size: 92%;
  }
}

.logo {
  width: 5.5rem;
  height: 4.38rem;
  z-index: 1;

  @media screen and (--medium) {
    width: 8.5rem;
  }

  & .logoImg {
    position: relative;
    top: -1.85rem;

    @media screen and (--medium) {
      top: -2.85rem;
    }
  }
}
