.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

/* Heading */

/* Skip link */
[href="#main"] {
  display: inline-block;
  padding: var(--s-3, 0.313rem);
  color: var(--magenta-red-100, #d10971);
  background-color: var(--color-light, #ffffff);
  position: absolute;
  right: var(--s0, 1rem);
  top: 0.75rem;

  @media screen and (--medium) {
    top: -10rem;
  }
}

[href="#main"]:focus {
  z-index: 1;
  /* top: 0; */
  outline: none;
}

.header {
  display: flex;
  flex-direction: column;
  height: 3.75rem;
}

.headerLinks {
  display: flex;
  padding: 0 1rem;
}

.nav {
  height: 2.25rem;
  border-top: 0.25rem solid var(--grey-100, #e5ebf1);
}

.primaryNavList {
  position: relative;
  display: flex;
  top: -0.25rem;
  list-style-type: none;

  & li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.25rem;
  }

  & li:not(:last-of-type) {
    margin-right: 0.5rem;
  }

  & a {
    width: 100%;
    padding: 0.25rem var(--s0, 1rem);
    text-align: center;
    border-top: 0.25rem solid var(--grey-100, #e5ebf1);
  }
}

.logo {
  width: 4.125rem;
  height: 3.313rem;

  & .logoImg {
    position: relative;
    top: -1.325rem;
  }
}

.main {
  flex: 1 0 auto;
  margin: 1.75rem;
}

.footer {
  margin-top: auto;
  min-height: 6rem;
  padding: 2.5rem 1.75rem;
}

.listItem {
  display: flex;
  list-style-type: none;
  margin-left: 0;

  & Li {
    padding: 1rem;
  }
}

.icon {
  width: 0.75em;
  width: 1cap;
  height: 0.75em;
  height: 1cap;
  color: currrentColor;
  margin-right: 0.25em;
}
