.contentWrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

.main {
  flex: 1 0 auto;
}

.backToTop {
  position: relative;
  margin-bottom: 0.5rem;
  max-width: fit-content;
  margin-top: 2rem;
  margin-left: auto;
  display: block;
}
