@import "../../common/styles/lib/variables.css";
@import "../../common/styles/lib/mixins.css";

.root {
  font-size: 1.25rem;

  &:hover,
  &:focus,
  &:active {
    .iconSpan {
      color: inherit;
    }
  }
}

[aria-current="true"] {
  @add-mixin font-weight-bold;
}

.icon {
  margin: 0 0.5rem 0 0;
  height: 1.5em;
}

.hasIcon {
  margin: 0 0 0 0.5rem;
}

.iconAfter {
  margin: 0 0 0 0.5rem;
}

.iconSpan {
  display: inline-block;
}

.small {
  font-size: var(--s0);

  & .iconAfter {
    margin: 0 0 0 0.25rem;
  }

  & .iconSpan {
    vertical-align: baseline;
  }

  & .icon {
    height: 1em;
  }
}

.large {
  font-size: 1.5rem;
}
